#!/usr/bin/env ruby

# Passthrough CSS
passthrough '/assets/css/**/*'

# Passthrough Fonts
passthrough '/assets/fonts/**/*'

# Passthrough Images
passthrough '/assets/img/**/*'

# Passthrough Custom Javascript
passthrough '/assets/js/*.js'

#=== H4xx ===#

# Compile using the NodeJS Less compiler. Outputs to /assets/style/eveoh.css.
compile '/assets/less/eveoh.less' do
  filter :eveohLess
end

compile '/assets/less/**/*' do
  # don’t filter or layout
end

# Concatenate and Uglify the Bootstrap Javascript files we need. Outputs to /assets/js/bootstrap.min.js.
compile '/assets/js/bootstrap/modal.js' do
  filter :bootstrapJs
end

compile '/assets/js/bootstrap/**/*' do
  # don’t filter or layout
end

# === /H4xx === #


# Policies
compile '/attributions.html' do
  filter :erb
  layout '/policy.html'
end

compile '/disclaimer.html' do
  filter :erb
  layout '/policy.html'
end

compile '/privacy-policy.html' do
  filter :erb
  layout '/policy.html'
end


# User conference

compile '/gebruikersmiddag.html' do
  filter :erb
  layout '/userconference-nl.html'
end

compile '/gebruikersmiddag/**/*.html' do
  filter :erb
  layout '/userconference-nl.html'
end


# Default layout

compile '/*.html' do
  filter :erb
  layout '/default.html'
end


# Ignore files that are processed into one file

# Don't copy over Less files
route '/assets/less/**/*' do
  nil
end

# Don't copy over Bootstrap Javascript
route '/assets/js/bootstrap/**/*' do
  nil
end

# Routing

route '/**/*.html' do
  # Do not put the main index in a subdirectory
  if @item.identifier == "/index.html"
    @item.identifier.to_s
  else
    @item.identifier.without_ext + "/index.html"
  end
end


layout '/**/*', :erb
