<!DOCTYPE HTML>
<html lang="nl">
<head>
    <%= render '/partials/head.html' %>
</head>

<body>
<header class="hidden-phone hidden-print">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="25">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="logo-mytimetable">MyTimetable</div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="main-nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li id="menuitem-userconf-introduction"><a href="/conference/">2016 UK User Conference</a></li>
                    <li id="menuitem-userconf-sessions"><a href="/conference/sessions/">Sessions</a></li>
                    <li id="menuitem-userconf-location"><a href="/conference/location/">Location</a></li>
                    <li id="menuitem-userconf-registration"><a href="/conference/registration">Registration</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<%= yield %>

<%= render '/partials/footer.html' %>

<%= render '/partials/scripts.html' %>

</body>
</html>
